body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #31ff1a;
}

.container {
  width: 100%;
  max-width: 400px;
  background: rgb(196, 155, 185);
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

input, select, button {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

a {
  text-align: center;
  margin-top: 15px;
  display: block;
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
